<launch>
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find ur_camera)/urdf/ur_with_camera.urdf.xacro' use_nominal_extrinsics:=true" />

    <arg name="gui" default="True" />
    <node unless="$(arg gui)" name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>
    <node if="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/> 


    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ur_camera)/config/urdf.rviz" required="true" />
</launch>
